p
{
  font-family: Arial, Helvetica, sans-serif;
  color: purple;
}
.classA
{
  font-weight: bold;
  font-size: 30px;
  color: navy;
}
.classC
{
  text-align: right;
}
.classD
{
  text-align: center;
}